body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    text-align: center;

}
.hexColor{
    text-transform: capitalize;
}
.hex{
    font-size: 3rem;

}
.hexBtn{
    color:#443e3c;
    border: 3px solid #f85527;
    border-radius: 7px;
    background: rgba(0,0 0,0.5);
    font-size: 1.6rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    text-transform: capitalize;
}
.hexBtn:hover{
    background: rgba(199, 18, 18, 0.459);
}